.book-table-container{
  position: relative;
}

.book-table{
  padding: 80px 50px 350px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #F9F9F7;
}

.book-table .book-table-title{
  font-size: 90px;
  line-height: 84px;
  color: #2C2F24;
}

.book-table .book-table-p{
  font-size: 18px;
  line-height: 28px;
  color: #495460;
  max-width: 545px;
  width: 100%;
}

.book-table-container .map{
  background-image: url(Images/Book/Map.png);
  width: 100%;
  height: 80vh;
}

.form-section{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  right: 467px;
  
}

form{
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1012px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 40px 50px;
  border-radius: 16px;
}

.form-section{
  background-color: #F9F9F7;
}

form .form-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-right: 24px;
  
}

form .form-date-time, form .form-name-phone{
  display: flex;
  justify-content: space-between;
}

.form-container label{
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
}

.form-container input{
  padding: 10px 24px;
  border-radius: 72px;
  width: 100%;
  max-width: 350px;
}

.form-container select{
  
}